[submodule "buildit"]
	path = buildit
	url = https://github.com/BuildIt-lang/buildit.git
[submodule "d2x"]
	path = d2x
	url = https://github.com/BuildIt-lang/d2x.git
[submodule "graphit"]
	path = graphit
	url = https://github.com/GraphIt-DSL/graphit.git
[submodule "deps/libunwind"]
	path = deps/libunwind
	url = https://github.com/libunwind/libunwind.git
[submodule "deps/libdwarf"]
	path = deps/libdwarf
	url = https://github.com/davea42/libdwarf-code.git
